 .home__page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .home__page__title {
    font-weight: var(--font-weight-semibold);
    font-size: 6rem;
    color: var(--color-neutral-900);
 }