.not__found__page {
   display: flex;
   height: 100vh;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: transparent;

}

.not__found__container {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.not__found__heading {
   font-family: 'Mulish', sans-serif;
   font-size: 8rem;
   font-weight: 700;
   color: hsl(196, 0%, 10%);
}

.not__found_paragraph {
   margin-bottom: 1.5rem;
   font-size: 1.5rem;
   line-height: 2rem;
   font-weight: 600;
   letter-spacing: 0.025em;
   color: hsl(196, 0%, 10%);
}

.not__found__button {
   border-radius: 0.375rem;
   background-color: hsl(196, 0%, 10%);
   padding: 0.5rem 1rem;
   font-weight: 600;
   letter-spacing: 0.05em;
   color: white;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 200ms;
}